<nav class="sticky">
  <ul>
    <li>
      <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="material-icons">home</i>
        Home
      </a>
    </li>
    <li>
      <a routerLink="education" routerLinkActive="activated">
        <!-- <i class="material-icons">insert_chart</i> -->
        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
        Education
      </a>
    </li>
    <li>
      <a routerLink="summary" routerLinkActive="activated">
        <!-- <i class="material-icons">insert_chart</i> -->
        summary
      </a>
    </li>
    <li>
      <a routerLink="technologies" routerLinkActive="activated">
        <!-- <i class="material-icons">insert_chart</i> -->
        technologies
      </a>
    </li>
  </ul>
</nav>