nav {
    background:whitesmoke;
    height: 100%;
    position: fixed;
    /* top: 70px; */
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    /* color: #fff; */
    text-decoration: none;
    padding: 20px;
    display: block;
}
nav ul li .activated {
    background-color: dimgray;
}
