<div class="logo">
  <a href="#">{{name}}</a>
</div>
<nav class="sticky">
  <ul>
    <li>
      <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        Home
      </a>
    </li>
    <li>
      <a routerLink="education" routerLinkActive="activated">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
        Education
      </a>
    </li>
    <li>
      <a routerLink="summary" routerLinkActive="activated">
        <i class="fa fa-list fa-2x" aria-hidden="true"></i>
        summary
      </a>
    </li>
    <li>
      <a routerLink="technologies" routerLinkActive="activated">
        <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
        Skills
      </a>
    </li>
  </ul>
</nav>