

<div class="row">
    <h1 class="col-md-12">Work</h1>
    
    <div class="col-md-6">
        
        <ul class="list-group">
            <li class="list-group-item">Worked with development – (Django, Angular and Dotnet technologies) as well as DevOps.</li>
            <li class="list-group-item">Implemented End to End CI Infrastructure system and configuration for automotive domain in Jenkins using batch, Python, Docker and Groovy.</li>
            <li class="list-group-item">Extensively used Docker for container management – Dynamic container creation, Process tool and destroy them by runtime creation of docker compose.</li>
            <li class="list-group-item">Implemented configurational Build, Auto Code promotion, Artifactory management (JFrog) and monitoring system using Grafana.</li>
            <li class="list-group-item">Worked in MongoDB, PostgreSQL, DB2 for complex data processing and retrieval.</li>
        </ul>
    </div>
    
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">Reduced 64% time while compilation of codebase using multithreading in Python.</li>
            <li class="list-group-item">Created automations tools for the PM.</li>
            <li class="list-group-item">Worked on Complex text parsing to generate html reports using python and XSLT and developed the reporting mechanism for the same.</li>
            <li class="list-group-item">Provided Guidance to new joiners in the team and demonstrated proficiency in using Groovy, YAML, XML Handling.</li>
            <li class="list-group-item">Handled ASP.NET, WPF MVVM application development and enhancement programs individually (backend SQL SEVER, DB2 and MongoDB).</li>
            
        </ul>
    </div>
</div>