   <!-- Technologies -->
   <div class="row align-center" style="padding:20px;">
    
    <mat-card class="tech-card  col-md-3">
        <mat-card-header>
          <div mat-card-avatar class="header-python-image"></div>
          <mat-card-title>Python</mat-card-title>
          <mat-card-subtitle>From Sept 2019</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
            <mat-chip color="primary" selected>Python 3</mat-chip>
            <mat-chip color="primary" selected>Django</mat-chip>
            <mat-chip color="primary" selected>Flask</mat-chip>
            <mat-chip color="primary" selected>FastAPI</mat-chip>
            
          </mat-chip-list>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="tech-card  col-md-3">
        <mat-card-header>
          <div mat-card-avatar class="header-python-image"></div>
          <mat-card-title>CI-CD</mat-card-title>
          <mat-card-subtitle>From Sept 2019</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
            <mat-chip color="primary" selected>Jenkins</mat-chip>
            <mat-chip color="primary" selected>Docker</mat-chip>
            <mat-chip color="primary" selected>Batch</mat-chip>
            <mat-chip color="primary" selected>Groovy</mat-chip>
            <mat-chip color="primary" selected>JFrog</mat-chip>
          </mat-chip-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="tech-card  col-md-3">
        <mat-card-header>
          <div mat-card-avatar class="header-python-image"></div>
          <mat-card-title>Dot NET</mat-card-title>
          <mat-card-subtitle>From Jan 2018 to Aug 2019</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
            <mat-chip color="primary" selected>C#</mat-chip>
            <mat-chip color="primary" selected>WPF</mat-chip>
            <mat-chip color="primary" selected>ASP MVC</mat-chip>
            <mat-chip color="primary" selected>MVVM</mat-chip>
            <mat-chip color="primary" selected>Entity Framework</mat-chip>
          </mat-chip-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="tech-card  col-md-3">
        <mat-card-header>
          <div mat-card-avatar class="header-python-image"></div>
          <mat-card-title>Database</mat-card-title>
          <mat-card-subtitle>From Jan 2018</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
            <mat-chip color="primary" selected>MongoDB</mat-chip>
            <mat-chip color="primary" selected>PostgreSQL</mat-chip>
            <mat-chip color="primary" selected >DB2</mat-chip>
            <mat-chip color="primary" selected>SQL Server</mat-chip>
            <mat-chip color="primary" selected>Elasticsearch</mat-chip>
          </mat-chip-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="tech-card  col-md-3">
        <mat-card-header>
          <div mat-card-avatar class="header-python-image"></div>
          <mat-card-title>Version Control</mat-card-title>
          <mat-card-subtitle>From Jan 2018</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
            <mat-chip color="primary" selected>GIT</mat-chip>
            <mat-chip color="primary" selected>SVN</mat-chip>
            <mat-chip color="primary" selected>Accurev</mat-chip>
            <mat-chip color="primary" selected>IBM RTC</mat-chip>
          </mat-chip-list>
        </mat-card-content>
    </mat-card>
</div>