   <!-- Technologies -->
   <div class="row">
    <h1 class="col-md-12">Technologies</h1>
    <div class="col-md-6">
        
        <ul>
            <li>Python: Python 3/ Django/ FastAPI</li>
            <li>Continuous Integration: Jenkins, Groovy, Docker, Kubernetes, Batch,
                Grafana, Prometheus, JFrog, Accurev, RTC, DIAB, LDRA, FBDD, BTC, System desk.</li>
            <li>.NET: C# .NET (WPF MVVM).</li>
            <li>Implemented configurational Build, Auto Code promotion, Artifactory management (JFrog) and monitoring system using Grafana.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>RDBMS: PostgreSQL/ DB2/ SQL Server</li>
            <li>NoSQL: MongoDB</li>
            <li>Version Control: GIT, SVN, ACCUREV</li>
            <li>Provided Guidance to new joiners in the team and demonstrated proficiency in using Groovy, YAML, XML Handling.</li>
            <li>Handled ASP.NET, WPF MVVM application development and enhancement programs individually (backend SQL SEVER, DB2 and MongoDB).</li>
            <li>Worked in MongoDB, PostgreSQL, DB2 for complex data processing and retrieval.</li>
        </ul>
    </div>
</div>