<div class="container">
    <div class="row" style="background-color: rgb(155, 196, 197);">
        <div class="col-md-8" >
            <div class="row">
                <div class="col-md-4">
                    <h1 style="font-weight: bold;">Ravi Kumar</h1>
                </div>
                <div class="col-md-8">
                    <h3>Senior Software Enginner at KPIT</h3>
                </div>
            </div>
            
           
            <P>BTech in Computer Science and Engineering, UPES – May 2017</P>
            <P>ravisolankidt@gmail.com; ravikumarsingsolanki@gmail.com</P>
            <P>+91-7895285469, +91-8766933682</P>
        </div>
        <div class="col-md-4">
            <p>https://www.linkedin.com/in/ravikumar96/</p>
            <p>https://github.com/solankiravi</p>
        </div>
    </div>

    <div class="row">
        Software Engineer with thorough hands-on experience in developing end to end Scalable microservices-based solution with an agile team. 
        I have worked in Python, Angular, Django, databases – relational (PostgreSQL, SQL Server, and DB2) and non-relational (MongoDB), 
        Continuous Integration, Jenkins, Docker, Batch script and dotnet technologies – C#, WPF.
    </div>

    <div class="row">
        <div class="col-md-6">
            <h1>Experience</h1>
            <b>3 Yrs. </b> Pune
        </div>
        <div class="col-md-6">
            <h1>Skills Snapshot</h1>
            <b>Django/DevOPS/Python/Jenkins/CI-CD</b>
        </div>
    </div>
    <div class="row">
        <h1 class="col-md-12">Work</h1>
        <div class="col-md-6">
            
            <ul>
                <li>Worked with development – (Django, Angular and Dotnet technologies) as well as DevOps.</li>
                <li>Implemented End to End CI Infrastructure system and configuration for automotive domain in Jenkins using batch, Python, Docker and Groovy.</li>
                <li>Extensively used Docker for container management – Dynamic container creation, Process tool and destroy them by runtime creation of docker compose.</li>
                <li>Implemented configurational Build, Auto Code promotion, Artifactory management (JFrog) and monitoring system using Grafana.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Reduced 80% time while compilation of codebase using multithreading in Python.</li>
                <li>Created automations tools for the PM.</li>
                <li>Worked on Complex text parsing to generate html reports using python and XSLT and developed the reporting mechanism for the same.</li>
                <li>Provided Guidance to new joiners in the team and demonstrated proficiency in using Groovy, YAML, XML Handling.</li>
                <li>Handled ASP.NET, WPF MVVM application development and enhancement programs individually (backend SQL SEVER, DB2 and MongoDB).</li>
                <li>Worked in MongoDB, PostgreSQL, DB2 for complex data processing and retrieval.</li>
            </ul>
        </div>
    </div>

    <!-- Technologies -->
    <div class="row">
        <h1 class="col-md-12">Technologies</h1>
        <div class="col-md-6">
            
            <ul>
                <li>Python: Python 3/ Django/ FastAPI</li>
                <li>Continuous Integration: Jenkins, Groovy, Docker, Kubernetes, Batch,
                    Grafana, Prometheus, JFrog, Accurev, RTC, DIAB, LDRA, FBDD, BTC, System desk.</li>
                <li>.NET: C# .NET (WPF MVVM).</li>
                <li>Implemented configurational Build, Auto Code promotion, Artifactory management (JFrog) and monitoring system using Grafana.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>RDBMS: PostgreSQL/ DB2/ SQL Server</li>
                <li>NoSQL: MongoDB</li>
                <li>Version Control: GIT, SVN, ACCUREV</li>
                <li>Provided Guidance to new joiners in the team and demonstrated proficiency in using Groovy, YAML, XML Handling.</li>
                <li>Handled ASP.NET, WPF MVVM application development and enhancement programs individually (backend SQL SEVER, DB2 and MongoDB).</li>
                <li>Worked in MongoDB, PostgreSQL, DB2 for complex data processing and retrieval.</li>
            </ul>
        </div>
    </div>

    <!-- Education -->
    <div class="row">
        <h1 class="col-md-12">Education</h1>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>University/School</th>
                <th>Percentage</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Bachelor of Engineering</td>
                <td>UPES, Dehradun</td>
                <td>73.4</td>
                <td>May 2017</td>
            </tr>
            <tr>
                <td>12th Board CBSE</td>
                <td>Gyan Bharti Public School, Cantt Area - Gaya.</td>
                <td>76</td>
                <td>April 2013</td>
            </tr>
            <tr>
                <td>10th Board CBSE</td>
                <td>Gyan Bharti Public School, Cantt Area -  Gaya</td>
                <td>87.4</td>
                <td>April 2011</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>2017</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>2016</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>2015</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>2012</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>2011</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>2007</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
              </div>
            </div>
          </div>
    </div>
</div>