 <!-- Education -->
<div class="section education">
    <h1 class="text-center text-bold">Education Details</h1>
    <table class="table table-bordered education-table">
        <tr>
            <th></th>
            <th>University/School</th>
            <th>Percentage</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Bachelor of Engineering</td>
            <td>UPES, Dehradun</td>
            <td>73.4</td>
            <td>May 2017</td>
        </tr>
        <tr>
            <td>12th Board CBSE</td>
            <td>Gyan Bharti Public School, Cantt Area - Gaya.</td>
            <td>76</td>
            <td>April 2013</td>
        </tr>
        <tr>
            <td>10th Board CBSE</td>
            <td>Gyan Bharti Public School, Cantt Area -  Gaya</td>
            <td>87.4</td>
            <td>April 2011</td>
        </tr>
    </table>
</div>

